@{
    ViewData["Title"] = "Error";
}

<div class="bg-shape">
    <h1 class="text-danger">Przepraszam Stary, popełniłem błąd :(</h1>
    <h2 class="text-danger ">Obiecuję, że to się już nie powtórzy!</h2>
    <h2 class="text-danger">Spróbuj wykonać operację jeszcze raz i jeżeli znowu uzyskasz błąd daj mi znać na <a class="purple-link" href="http://ipprograms.pl/">www.ipprograms.pl</a>. Dzięki!</h2>
</div>