@model IoTipprograms.Models.UserModel

@{
    ViewData["Title"] = "Zmień hasło";
}

<div align="center">
    <form asp-action="ChangePassword" asp-controller="AppUsers" method="POST" class="form-max-with">
        <div class="imgcontainer">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Antu_im-invisible-user.svg/768px-Antu_im-invisible-user.svg.png" alt="Avatar" class="avatar">
        </div>
        <center><h1>Zmień hasło</h1></center>
        <div class="logincontainer" align="left">
            <label for="UserLogin"><b>Nazwa użytkownika</b></label>
            <input asp-for="UserLogin" placeholder="Podaj nazwę użytkownika" required>
            <label for="UserPassword"><b>Stare hasło</b></label>
            <input asp-for="UserPassword" type="password" placeholder="Podaj stare hasło" required>
            <label for="UserNewPassword"><b>Nowe hasło</b></label>
            <input asp-for="UserNewPassword" type="password" placeholder="Podaj nowe hasło" required>
            <button type="submit">Zmień</button>
        </div>
    </form>
</div>
