@{
    ViewData["Title"] = "Strona główna";
}

<center>
    <div class="indexdiv">
        <h4>Witaj strudzony podróżniku!</h4>
        <h1></h1>
        <label>Czas rozpocząć Twoją przygodę z Internet of Things. Wybierz dzielnie z menu gdzie chcesz się udać i rozpocznij najnowszego questa: zabawę!</label>
    </div>
</center>